@model IEnumerable<BulkyWeb.ViewModels.CategoryViewModel>


<partial name="_Notification" />
<div class="=Container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
       
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th style="width: 10%; text-align: center;">Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    <div class="d-flex justify-content-center gap-1">
                        <a class="btn btn-primary " asp-action="Create"> <i class="bi bi-plus-circle"></i></a>
                        <a asp-action="Edit" class="btn btn-primary " asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Details" class="btn btn-info " asp-route-id="@item.Id">
                            <i class="bi bi-ticket-detailed"></i>
                        </a>
                        <a asp-action="Delete" class="btn btn-danger " asp-route-id="@item.Id">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </td>


            </tr>
        }
    </tbody>
</table>
